@font-face
{
    font-family: 'corduroy';
    src: url('/resources/fonts/corduroy-regular.eot');
    src: url('/resources/fonts/corduroy-regular.eot?#iefix') format('embedded-opentype'),
    url('/resources/fonts/corduroy-regular.woff') format('woff'),
    url('/resources/fonts/corduroy-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#main_global
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('/resources/images/main.jpeg');
    background-size: cover;
    background-attachment: fixed;
}
#global_nav
{
    min-width: 700px;
    min-height: 420px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -210px;
    margin-left: -350px;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.navigation_button, .navigation_button_unique
{
    float: left;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.navigation_button
{
    width: 25%;
    height: 140px;
    display: table;
}
.navigation_button_unique
{
    width: 50%;
    height: 140px;
    opacity: 0;
}
.container_four
{
    overflow: hidden;
}
.navigation_button a
{
    font-family: "corduroy";
    text-decoration: none;
    color: #000000;
    background: rgba(0, 0, 0, 0);
    background: #dbdbdb;
    /*background: -moz-linear-gradient(top, #808080 0%, #dbdbdb 50%, #2f4f4f 100%);
    background: -webkit-linear-gradient(top, #808080 0%, #dbdbdb 50%, #2f4f4f 100%);
    background: -o-linear-gradient(top, #808080 0%, #dbdbdb 50%, #2f4f4f 100%);
    background: -ms-linear-gradient(top, #808080 0%, #dbdbdb 50%, #2f4f4f 100%);
    background: linear-gradient(top, #808080 0%, #dbdbdb 50%, #2f4f4f 100%);*/
    background: -moz-linear-gradient(top, rgba(128, 128, 128, 0.5) 0%, rgba(219, 219, 219, 0.5) 50%, rgba(47, 79, 79, 0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(128, 128, 128, 0.5) 0%, rgba(219, 219, 219, 0.5) 50%, rgba(47, 79, 79, 0.5) 100%);
    background: -o-linear-gradient(top, rgba(128, 128, 128, 0.5) 0%, rgba(219, 219, 219, 0.5) 50%, rgba(47, 79, 79, 0.5) 100%);
    background: -ms-linear-gradient(top, rgba(128, 128, 128, 0.5) 0%, rgba(219, 219, 219, 0.5) 50%, rgba(47, 79, 79, 0.5) 100%);
    background: linear-gradient(top, rgba(128, 128, 128, 0.5) 0%, rgba(219, 219, 219, 0.5) 50%, rgba(47, 79, 79, 0.5) 100%);

    font-size: 20px;
    display: table-cell;
    padding: 10% 0;
    height: 100%;
    vertical-align: middle;
}
.navigation_button a:hover
{
    color: #ffff00;
    text-shadow: 0 0 30px #ffff88;
    background: rgba(0, 0, 0, 0);
    /*background: #2f4f4f;
    background: -moz-linear-gradient(top, #1c1c1c 0%, #2f4f4f 50%, #000000 100%);
    background: -webkit-linear-gradient(top, #1c1c1c 0%, #2f4f4f 50%, #000000 100%);
    background: -o-linear-gradient(top, #1c1c1c 0%, #2f4f4f 50%, #000000 100%);
    background: -ms-linear-gradient(top, #1c1c1c 0%, #2f4f4f 50%, #000000 100%);
    background: linear-gradient(top, #1c1c1c 0%, #2f4f4f 50%, #000000 100%);*/
}
.enter
{
    position: fixed;
    font-family: Verdana;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}
.enter:target
{
    display: block;
    pointer-events: auto;
}
.enter > div
{
    width: 400px;
    height: 230px;
    position: relative;
    margin: 17% auto;
    padding: 5px 20px 13px 20px;
    border:1px solid #FFFFFF;
    background: #808080;
    background: -moz-linear-gradient(top, #2f4f4f 0%, #808080 50%, #1c1c1c 100%);
    background: -webkit-linear-gradient(top, #2f4f4f 0%, #808080 50%, #1c1c1c 100%);
    background: -o-linear-gradient(top, #2f4f4f 0%, #808080 50%, #1c1c1c 100%);
    background: -ms-linear-gradient(top, #2f4f4f 0%, #808080 50%, #1c1c1c 100%);
    background: linear-gradient(top, #2f4f4f 0%, #808080 50%, #1c1c1c 100%);
}
.close
{
    color: #FFFFFF;
    line-height: 20px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 24px;
    text-decoration: none;
}
.close:hover
{
    color: #000000;
    font-weight: bold;
}
#contact_form td
{
    text-align:center;
}
#user_name, #pass, #sub_button
{
    height: 35px;
    margin-bottom: 10px;
    font-family: "Verdana, sans-serif;
}
#user_name, #pass
{
    width: 250px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#sub_button
{
    width: 100px;
}
#autorization_link {
    text-decoration: none;
    font-size: 15px;
    font-family: "Verdana, sans-serif";
    margin-bottom: 40px;
    color: #ffffff;
}
#autorization_link:hover
{
    color: #ffff00;
    text-decoration: underline;
}
#user_name
{
    margin-top: 40px;
}

/*----------------------------------------------------------------------------------------------------------------------*/
#ln_container
{
    overflow: visible;
    height: 50px;
    width: 1440px;
    margin: 0 auto;
}
#nav
{
    float:left;
    width:1440px;
    margin:0;
    padding: 0;
    position: relative;
    list-style:none;
    left: 50%;

}
#nav li
{
    float:left;
    position:relative;
    display:block;
    left: -50%;
}
#nav li a
{
    display:block;
    width: 180px;
    padding:5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    line-height: 40px;
    color:#2f4f4f;
    color: #ffffff;
    background: #2f4f4f;
    background: -moz-linear-gradient(top, #2f4f4f 0%, #808080 50%, #1c1c1c 100%);
    background: -webkit-linear-gradient(top, #2f4f4f 0%, #808080 50%, #1c1c1c 100%);
    background: -o-linear-gradient(top, #2f4f4f 0%, #808080 50%, #1c1c1c 100%);
    background: -ms-linear-gradient(top, #2f4f4f 0%, #808080 50%, #1c1c1c 100%);
    background: linear-gradient(top, #2f4f4f 0%, #808080 50%, #1c1c1c 100%);
    text-decoration:none;
    font-family: corduroy;
}
#nav li a:hover
{
    color:#ffffff;
    text-decoration:underline;
}

/*--- SLIDE ---*/
#nav ul
{
    list-style:none;
    position:absolute;
    left:-9999px;
    opacity:0;
    -webkit-transition:0.25s linear opacity;
}
#nav ul li
{
    padding-top:1px;
    float:none;

}
#nav ul a
{
    white-space:nowrap;
    display:block;
}
#nav li:hover ul
{
    left:0;
    opacity:1;
}
#nav li:hover a
{
    color:#2f4f4f;
    background: #dbdbdb;
    background: -moz-linear-gradient(top, #808080 0%, #dbdbdb 50%, #2f4f4f 100%);
    background: -webkit-linear-gradient(top, #808080 0%, #dbdbdb 50%, #2f4f4f 100%);
    background: -o-linear-gradient(top, #808080 0%, #dbdbdb 50%, #2f4f4f 100%);
    background: -ms-linear-gradient(top, #808080 0%, #dbdbdb 50%, #2f4f4f 100%);
    background: linear-gradient(top, #808080 0%, #dbdbdb 50%, #2f4f4f 100%);
    text-decoration:underline;
}
#nav li:hover ul a
{
    text-decoration:none;
    -webkit-transition:-webkit-transform 0.075s linear;
}
#nav li:hover ul li a:hover
{
    color:#2f4f4f;
    background: #dbdbdb;
    background: -moz-linear-gradient(top, #808080 0%, #dbdbdb 50%, #2f4f4f 100%);
    background: -webkit-linear-gradient(top, #808080 0%, #dbdbdb 50%, #2f4f4f 100%);
    background: -o-linear-gradient(top, #808080 0%, #dbdbdb 50%, #2f4f4f 100%);
    background: -ms-linear-gradient(top, #808080 0%, #dbdbdb 50%, #2f4f4f 100%);
    background: linear-gradient(top, #808080 0%, #dbdbdb 50%, #2f4f4f 100%);
    text-decoration:underline;
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
}
