table
{
    border-spacing: 0;
    text-align: center;
    vertical-align: middle;
}
.globalGlass
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 2;
    background-color: rgba(0,0,0,0.4);
}
.page_global, #page_global_changer
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
}
#page_global_changer, .page_global
{
    background-size: cover;
    background-attachment: fixed;
}
.page_global
{
    background: url("/resources/img/earth.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.page_container
{
    width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    background: rgba(0,0,0,0);
}
.page_nav
{
    overflow: visible;
    height: 50px;
    width: 1440px;
    margin: 0 auto;
}
.left_side
{
    width: 288px;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 10px 0;
}
.right_side
{
    width: 288px;
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 10px 0;
    border: 1px solid indigo;
}
.imageGallery
{
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 10px;
    text-align: justify;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    overflow: hidden;
    padding: 5px;
    background: white;
}
.imageGallery li
{
    list-style: none;
    float: left;
    margin-right: 3px;
}
.imageGallery li:hover
{
    -moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
    -o-transform:scale(1.10);
    transform:scale(1.10);
}
.reg_div
{
    width: 1142px;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 10px 10px 10px 0;
    border: 1px solid darkblue;
}
#upperBox, #lowerBox, #loaderBox
{
    width: 1142px;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}
#lowerBox, #loaderBox
{
    display: none;
}
#upperBox .userLoginData
{
    width: 530px;
    margin: 0 auto;
}
#upperBox .userLoginData tr
{
    width: 50%;
    height: 40px;
}
#upperBox .userLoginData tr td
{
    border-bottom: 1px solid #000000;
}
.reg_item
{
    text-align: right;
    clear: both;
    margin: 0 auto;
    line-height: 40px;
    width: 530px;
}
.reg_item_unique
{
    text-align: center;
    clear: both;
    margin: 0 auto;
    line-height: 40px;
    width: 530px;
}
#user_submit
{
    color: #ffffff;
    background: #2f4f4f;
    background: -moz-linear-gradient(top, #2f4f4f 0%, #808080 50%, #1c1c1c 100%);
    background: -webkit-linear-gradient(top, #2f4f4f 0%, #808080 50%, #1c1c1c 100%);
    background: -o-linear-gradient(top, #2f4f4f 0%, #808080 50%, #1c1c1c 100%);
    background: -ms-linear-gradient(top, #2f4f4f 0%, #808080 50%, #1c1c1c 100%);
    background: linear-gradient(top, #2f4f4f 0%, #808080 50%, #1c1c1c 100%);
    color: #ffffff;
}
.reg_item input, .reg_item_unique input
{
    height:40px;
    width: 300px;
    font-size: 14px;
    font-family: Verdana;
    text-align: center;
}
.reg_item label
{
    font-family: Verdana;
    font-size: 14px;
    float: left;
    padding-right: 5px;
}
.reg_rules
{
    font-size: 10px;
    font-family: Verdana;
    color: #808080;
}
#validateLoginResult, #validateEmailResult, #validateCountryResult,
#validateCityResult, #validatePasswordResult, #validatePasswordConfResult, .ghost
{
    height: 40px;
    width: 40px;
    float: right;
}
.page_main_content, .page_main_contentUnique
{
    width: 844px;
    float: left;
    border: 1px solid mediumvioletred;
    box-sizing: border-box;
    margin: 10px;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: rgba(0,0,0,0);
}
.page_main_contentUnique
{
    padding: 5px;
}
.page_main_content
{
    padding: 10px;
}
.page_footer
{
    width: 1440px;
    margin: 0 auto;
    border: 1px solid crimson;
}
.sortable
{
    width: 100%;
}
.sortable tbody tr:nth-child(even)
{
    background: #363636;
    color: #cfcfcf;
}
.sortable tbody tr:nth-child(odd)
{
    background: #1c1c1c;
    color: #cfcfcf;
}
.sortable tbody tr
{
    height: 50px;
    cursor: pointer;
    font-family: Verdana;
    font-size: 14px;
}
.sortable thead tr
{
    height: 50px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    background: white;
}
.sortable thead tr th
{
    border-bottom: 3px solid #cfcfcf;
}
.sortable tbody tr:hover
{
    text-decoration: underline;
}
.data_cell
{
    border-bottom: 1px solid #cfcfcf;
}
#about_object
{
    font-family: Verdana;
    font-size: 14px;
    padding: 10px;
    text-align: justify;
    margin-bottom: 10px;
    width: 844px;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: white;
}
.title_box
{
    font-family: Verdana;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #cfcfcf;
    background: white;
}
.main_title, .sub_title
{
    margin: 0;
    padding: 0;
}
.main_title
{
    font-size: 24px;
}
.sub_title
{
    font-size: 20px;
}
.itemBox
{
    width: 198px;
    margin: 5px;
    /*border: 1px solid #ffff00;*/
    float: left;
    background: white;
    font-family: Verdana;
    font-size: 12px;
    cursor: pointer;
}
.itemBox:hover
{
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
}
.itemProp
{
    background: #dcdcdc;
    width: 100%;
    border-bottom: 1px solid #a9a9a9;
    text-align: center;
    padding: 5px;
}
.itemBox, .itemProp
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.itemData
{
    font-weight: bold;
}