table
{
    border-spacing: 0;
    text-align: center;
    vertical-align: middle;
}
.globalGlass
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 2;
    background-color: rgba(0,0,0,0.4);
}
.page_global, #page_global_changer
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
}
.page_global
{
    background: url("https://lh3.googleusercontent.com/J-YxzoUhekb0yOV8iyDnvhN70Bj_mKIcWJBCunhKlmySGCW-NVZxiO3QHuV9gKiDhjr_puwjL42GM_zJcR7XqV9SWKKVlUrTTUzxO3Wqv8zVviKb7runTSzFkCOSC_sG6hPybvy1uVNuma1OQpaRPqWnpK5q-7vRM_fa9czQjwrVjexxqzmuzTJ9p6OCfVG3Q3c27WbWgRdX_v01JvV4jHE5dg76QwMJjdgWNe7iG0_01aTQxUWmfhhETthIAR8kJ89r4oWyebiZ38Ao5B2HjQasQuoH_TMXc06hgS3tNJo10JeV-f4VmCP1NwXss3d9gFvmZGT4YEX43XV12ySgmYRErl39QWpQzEMmp1rOD9U4uhOCzvEIAVxvRSkylrhznYEX0rZFenAN09uBMDbWkp-Nxx0HbDmeAiHLBgJWHxL5h02SLX8iGEfXbvsHk_DG8a179Lm_8sHayICgzLCTo9-XpkPFVdJEt_es-JylcW-9ZSLQZLZ2oM3cfJ3rUyWcJtsYymKdyv8W-lAFV-NLL67xGfIEWMNR9nsxTBhEVZ0=w1421-h799-no");
    background-size: cover;
    background-attachment: fixed;
}
.page_container
{
    width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    background: rgba(0,0,0,0);
}
.page_nav
{
    overflow: hidden;
    width: 1440px;
    margin: 15px auto 0;
}
.page_footer
{
    width: 1440px;
    margin: 10px auto 15px;
}
.left_side, .page_main_content, .page_main_contentUnique, .reg_div, .page_main_contentU
{
    border: 5px solid rgba(245,245,245,0.1);
    background: rgba(100, 100, 100, 0.3);
}
.left_side, #left_side
{
    width: 278px;
    float: left;
    margin: 10px 0;
}
.to_top
{
    position: fixed;
    top: 0;
}
.right_side
{
    width: 288px;
    float: right;
    margin: 10px 0;
}
.page_main_contentU
{
    width: 1142px;
    float: left;
    margin: 10px 0 10px 10px;
}
.homeBox
{
    width: 556px;
    height: 350px;
    float: left;
    margin: 5px;
    border: 1px solid #deb887;
    cursor: pointer;
    display: table;
}
.homeInfo
{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    padding: 0 20px;
    color: rgba(222, 184, 135, 0);
    text-align: justify;
    font-family: Verdana;
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
}
.homeInfo:hover
{
    color: rgba(222, 184, 135, 1);
    background: rgba(0,0,0,0.7);
}
.homeBoxTitle
{
    font-family: corduroy;
    font-size: 26px;
}
.homeBox ul li
{
    list-style: circle;
}
#homeBox1
{
    background: url("/resources/images/home/planets.jpg");
}
#homeBox2
{
    background: url("/resources/images/home/stars.jpg");
}
#homeBox3
{
    background: url("/resources/images/home/satellites.jpg");
}
#homeBox4
{
    background: url("/resources/images/home/galaxies.jpg");
}
#homeBox5
{
    background: url("/resources/images/home/constellations.jpg");
}
#homeBox6
{
    background: url("/resources/images/home/solarSystem.jpg");
}
#homeBox7
{
    background: url("/resources/images/home/universe.jpg");
}
.imageGallery, .page_main_contentU, #upperBox, #lowerBox, #loaderBox, .homeBox, .aboutSiteInfo, .aboutSiteImg,
.page_main_content, .page_main_contentUnique, .reg_div, #about_object, .homeInfo, .contactInfo, .contactImg
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.imageGallery
{
    width: 100%;
    margin-bottom: 10px;
    text-align: justify;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    overflow: hidden;
    padding: 5px;
    background: white;
}
.imageGallery li
{
    list-style: none;
    float: left;
    margin-right: 3px;
}
.imageGallery ul
{
    margin: 0px;
    padding: 0px;
}
.imageGallery li:hover
{
    -moz-transform:scale(1.10);
    -webkit-transform:scale(1.10);
    -o-transform:scale(1.10);
    transform:scale(1.10);
}
#upperBox, #lowerBox, #loaderBox
{
    width: 844px;
    float: left;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}
#lowerBox, #loaderBox
{
    display: none;
}
#upperBox .userLoginData
{
    width: 530px;
    margin: 0 auto;
    font-family: Verdana;
}
#upperBox .userLoginData tr
{
    width: 50%;
    height: 40px;
    color: #dcdcdc;
}
#upperBox .userLoginData tr td
{
    border-bottom: 1px solid #dcdcdc;
}
#profileChange
{
    margin-top: 10px;
    background: #2f4f4f;
    color: #dcdcdc;
}
.reg_item
{
    text-align: right;
    clear: both;
    margin: 0 auto;
    line-height: 40px;
    width: 530px;
}
.reg_item_unique
{
    text-align: center;
    clear: both;
    margin: 0 auto;
    line-height: 40px;
    width: 530px;
}
#user_submit
{
    color: #ffffff;
    background: #2f4f4f;
    background: -moz-linear-gradient(top, #2f4f4f 0%, #808080 50%, #1c1c1c 100%);
    background: -webkit-linear-gradient(top, #2f4f4f 0%, #808080 50%, #1c1c1c 100%);
    background: -o-linear-gradient(top, #2f4f4f 0%, #808080 50%, #1c1c1c 100%);
    background: -ms-linear-gradient(top, #2f4f4f 0%, #808080 50%, #1c1c1c 100%);
    background: linear-gradient(top, #2f4f4f 0%, #808080 50%, #1c1c1c 100%);
    color: #ffffff;
}
.reg_item input, .reg_item_unique input
{
    height:40px;
    width: 300px;
    font-size: 14px;
    font-family: Verdana;
    text-align: center;
    -webkit-box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.75);
}
.reg_item label
{
    font-family: Verdana;
    font-size: 14px;
    color: #dcdcdc;
    float: left;
    padding-right: 5px;
}
.reg_rules
{
    font-size: 10px;
    font-family: Verdana;
    color: #808080;
}
#validateLoginResult, #validateEmailResult, #validateCountryResult,
#validateCityResult, #validatePasswordResult, #validatePasswordConfResult, .ghost
{
    height: 40px;
    width: 40px;
    float: right;
}
.page_main_content, .page_main_contentUnique, .reg_div
{
    width: 844px;
    float: left;
    margin: 10px;
}
.page_main_contentUnique, .reg_div
{
    padding: 10px 5px 5px;
}
.page_main_content
{
    /*padding: 10px;*/
}
.sortable
{
    width: 100%;
}
.sortable tbody tr:nth-child(even)
{
    background: #363636;
    color: #cfcfcf;
}
.sortable tbody tr:nth-child(odd)
{
    background: #1c1c1c;
    color: #cfcfcf;
}
.sortable tbody tr
{
    height: 50px;
    cursor: pointer;
    font-family: Verdana;
    font-size: 14px;
}
.sortable thead tr
{
    height: 50px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    background: white;
}
.sortable thead tr th
{
    border-bottom: 3px solid #cfcfcf;
}
.sortable tbody tr:hover
{
    text-decoration: underline;
}
.data_cell
{
    border-bottom: 1px solid #cfcfcf;
}
#about_object
{
    font-family: Verdana;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 10px;
    width: 100%;
    float: left;
    color: #ffffff;
}
.title_box
{
    font-family: Verdana;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #cfcfcf;
    background: white;
}
.main_title, .sub_title
{
    margin: 0;
    padding: 0;
}
.main_title
{
    font-size: 24px;
}
.sub_title
{
    font-size: 20px;
}
.itemBox
{
    width: 196px;
    margin: 0 5px 10px;
    float: left;
    background: rgba(0,0,0,0);
    color: #deb887;
    font-family: Verdana;
    font-size: 12px;
    /*cursor: pointer;*/
    transition: all 0.35s ease-in-out;
    /*display: table;*/
}
/*.itemBox:hover*/
/*{*/
    /*background: rgba(222,184,135,1);*/
    /*color: #000000;*/
/*}*/
.itemProp
{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #2f4f4f;
    text-align: center;
    padding: 5px 0 5px;
    /*display: table-cell;*/
    /*vertical-align: middle;*/
}
.objLink
{
    width: 100%;
    height: 40px;
    text-align: center;
}
.objLink a
{
    position: relative;
    display: inline-block;
    width: 50%;
    /*height: 30px;*/
    line-height: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    user-select: none;
    color: #deb887;
    outline: none;
    border: 1px solid rgba(110,121,128,.8);
    border-top-color: rgba(0,0,0,.3);
    border-radius: 5px;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #525252),
            color-stop(1, #1F1F1F)
    );
    background-image: -o-linear-gradient(bottom, #525252 0%, #1F1F1F 100%);
    background-image: -moz-linear-gradient(bottom, #525252 0%, #1F1F1F 100%);
    background-image: -webkit-linear-gradient(bottom, #525252 0%, #1F1F1F 100%);
    background-image: -ms-linear-gradient(bottom, #525252 0%, #1F1F1F 100%);
    background-image: linear-gradient(to bottom, #525252 0%, #1F1F1F 100%);
    box-shadow: 0 -1px rgba(10,21,28,.9) inset, 0 1px rgba(255,255,255,.5) inset;
}
.objLink a:hover
{
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #1F1F1F),
            color-stop(1, #525252)
    );
    background-image: -o-linear-gradient(bottom, #1F1F1F 0%, #525252 100%);
    background-image: -moz-linear-gradient(bottom, #1F1F1F 0%, #525252 100%);
    background-image: -webkit-linear-gradient(bottom, #1F1F1F 0%, #525252 100%);
    background-image: -ms-linear-gradient(bottom, #1F1F1F 0%, #525252 100%);
    background-image: linear-gradient(to bottom, #1F1F1F 0%, #525252 100%);
}
.objLink a:before
{
    content: "";
    position: absolute;
    top: -6.5px;
    right: -6.5px;
    bottom: -5.3px;
    left: -6px;
    z-index: -1;
    border-radius: 5px;
    background: linear-gradient(rgba(100, 100, 100, 0.3), rgba(100, 100, 100, 0.4));
    /*background: rgba(100, 100, 100, 0.3);*/
}
.itemBox :last-child
{
    border-bottom: none;
}
.itemBox, .itemProp, #smallNews, #largeNews, .oneNews, .objLink
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.itemData
{
    font-weight: bold;
}
#smallNews, #largeNews
{
    float: left;
    font-family: Verdana;
}
#smallNews
{
    width: 45%;
}
#largeNews
{
    width: 55%;
    padding-right: 10px;
    color: #deb887;
    cursor: pointer;
}
#newsText
{
    background: rgba(245,245,245,0.1);
    background: -moz-linear-gradient(top, rgba(220, 220, 220, 0.1) 0%, rgba(245, 245, 245, 0.1) 50%, rgba(220, 220, 220, 0.1) 100%);
    background: -webkit-linear-gradient(top, rgba(220, 220, 220, 0.1) 0%, rgba(245, 245, 245, 0.1) 50%, rgba(220, 220, 220, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(220, 220, 220, 0.1) 0%, rgba(245, 245, 245, 0.1) 50%, rgba(220, 220, 220, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(220, 220, 220, 0.1) 0%, rgba(245, 245, 245, 0.1) 50%, rgba(220, 220, 220, 0.1) 100%);
    background: linear-gradient(top, rgba(220, 220, 220, 0.1) 0%, rgba(245, 245, 245, 0.1) 50%, rgba(220, 220, 220, 0.1) 100%);
    color: #deb887;
    margin-top: 0;
    padding: 5px;
}
#newsText:hover
{
    text-decoration: underline;
}
.oneNews
{
    width: 100%;
    background: rgba(245,245,245,0.5);
    background: -moz-linear-gradient(top, rgba(220, 220, 220, 0.5) 0%, rgba(245, 245, 245, 0.5) 50%, rgba(220, 220, 220, 0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(220, 220, 220, 0.5) 0%, rgba(245, 245, 245, 0.5) 50%, rgba(220, 220, 220, 0.5) 100%);
    background: -o-linear-gradient(top, rgba(220, 220, 220, 0.5) 0%, rgba(245, 245, 245, 0.5) 50%, rgba(220, 220, 220, 0.5) 100%);
    background: -ms-linear-gradient(top, rgba(220, 220, 220, 0.5) 0%, rgba(245, 245, 245, 0.5) 50%, rgba(220, 220, 220, 0.5) 100%);
    background: linear-gradient(top, rgba(220, 220, 220, 0.5) 0%, rgba(245, 245, 245, 0.5) 50%, rgba(220, 220, 220, 0.5) 100%);
    color: #000000;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
}
.oneNews a
{
    text-decoration: none;
    color: #000000;
}
.newsTitle
{
    font-size: 12px;
    font-weight: bold;
}
.newsA
{
    margin-bottom: 0;
    font-size: 10px;
}
.headerMain, .footerMain
{
    position: absolute;
    width: 1440px;
    overflow: auto;
    z-index: 2;
    background-color: rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0px 0px 0px 5px rgba(59,59,59,1);
    -moz-box-shadow: inset 0px 0px 0px 5px rgba(59,59,59,1);
    -o-box-shadow: inset 0px 0px 0px 5px rgba(59,59,59,1);
    -ms-box-shadow: inset 0px 0px 0px 5px rgba(59,59,59,1);
    box-shadow: inset 0px 0px 0px 5px rgba(59,59,59,1);
    font-family: corduroy;
}
.footerMain
{
    height: 220px;
}
.headerMain
{
    height: 200px;
}
.headerHide, .footerHide
{
    width: 1440px;
    z-index: 1;
}
.headerHide
{
    background: url("https://lh3.googleusercontent.com/nSGQc_q09FmP1bT54q8BrVy3A5vjsqUeZ_ajlz5mq0AljoAcb7dxzj8NosgNK5S-wMO44Qe9dTWU9abYhBBeTdKUBrmSjtN_uoBZUBGA3KIEMsujlBG3FNBfZc5a8cSHUU1aEjirQA3ags7cKu6XLJSMyLhYKGd3Bp4B7jbnfTb_BAQ52jB6K7uE6EPuM3fy0fC2YYSMvH3VYmAYybDLVP5g5TccRKk5q9liI59kP8reCcfkvRjZx2FojvMx_BSNKBnguA0OomRNtjnLOLh_4If6KjfFnBng_ojiF3YT9sZeVc1v9QV-V0iqU_-zCKqAeDaenziB9nM_WEezSxW5ZdefmyV71KzYoFnjE164tiGb_bjLftfw-VeZ2lxPoWIsjN08cdukMr--RGexqRHyhJTYWD7Z4YuCebVzbecZm8D_osnmJoCa8jWlzQf7bkzcyFBm01gCZzT-8TpQiUCZJ5w7pcj9ZxzoLoCusUEOo5BSeR6uRIBtr0N_EPPXMd3USf7mVlJmd4cll5GqGi66jDaM_xmjeXWxmpFqLd0hiyQ=w1440-h200-no");
    height: 200px;
}
.footerHide
{
    /*background: #00000d;*/
    height: 220px;
    /* IE10+ */
    background-image: -ms-linear-gradient(top, #00000B 50%, #000008 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #00000B 50%, #000008 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #00000B 50%, #000008 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50, #00000B), color-stop(100, #000008));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #00000B 50%, #000008 100%);

    /* W3C Markup */
    background-image: linear-gradient(to bottom, #00000B 50%, #000008 100%);
}

#objectInfo
{
    padding: 10px;
}
.objectInfoTitle
{
    text-align: center;
    font-family: corduroy;
    font-size: 20px;
    margin-bottom: 5px;
}
.objectInfoImg
{
    float: left;
    margin: 0 10px 0 0;
}
.objectInfoText
{
    font-family: Verdana;
    font-size: 14px;
    text-align: justify;
}
.headerUpper
{
    width: 1440px;
    height: 175px;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.headerList
{
    width: 1440px;
    height: 25px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#headerTable .headerLink
{
    width: 144px;
    height: 100%;
    font-size: 12px;
    vertical-align: middle;
    background: rgba(0,0,0,0);
}
#headerTable .headerLink a
{
    color: #deb887;
    display: block;
    text-decoration: none;
}
#headerTable .headerLink a:hover
{
    text-decoration: underline;
}
.headerMore
{
    height: 20px;
    width: 144px;
    background: url("/resources/images/selectDown.png");
    color: #deb887;
    font-size: 12px;
    font-weight: bold;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.headerHome
{
    width: 600px;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.headerHome a
{
    display: block;
    text-decoration: none;
    height: 100%;
}
.headerHome a:visited
{
    text-decoration: none;
}
.footerTable
{
    width: 844px;
    font-family: Verdana;
    font-size: 10px;
    color: #deb887;
}
.footerTable .footerLink
{
    vertical-align: middle;
    text-align: center;
}
.footerTable thead
{
    text-transform: uppercase;
}
.footerTable thead .footerLink
{
    border-bottom: 1px solid #f5deb3;
}
.footerTable .footerLink a
{
    color: #f5deb3;
    text-decoration: none;
}
.footerTable .footerLink a:hover
{
    text-decoration: underline;
}
.footerNav
{
    padding: 9px;
    width: 720px;
    float: left;
}
.footerLogo
{
    width: 288px;
    height: 220px;
    float: left;
    text-align: center;
    border: 1px solid rgba(0,0,0,0);
    padding-top: 7px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#rotationMain, #rotationMain1
{
    width: 288px;
    text-align: center;
    color: #deb887;
    float: left;
    height: 400px;
    font-family: Verdana;
}
#rotationObject1, #rotationObject2, #rotationObject3, #rotationObject4, #rotationObject5
{
    width: 278px;
    position: absolute;
    margin-bottom: 5px;
    border: 5px solid rgba(245,245,245,0.1);
    background: rgba(100, 100, 100, 0.3);
}
.rotationObject, .rotationObject1
{
    display: none;
    cursor: pointer;
}
.rObjProp, .rObjProp1
{
    border-bottom: 1px solid #deb887;
}
.rObjProp:first-child, .rObjProp:last-child, .rObjProp1:first-child, .rObjProp1:last-child
{
    border-bottom: none;
}
.rotationObjectA, .rotationObjectA1
{
    display: block;
}
.rRadio, .rRadio1
{
    width: 15px;
    height: 15px;
    border-radius: 7px;
    border: 3px solid #deb887;
    background: #2f4f4f;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
#radio1, #radioo1
{
    margin-left: 68px;
}
.radioActive, .rRadio:active, .radioActive1, .rRadio1:active
{
    width: 15px;
    height: 15px;
    border-radius: 7px;
    border: 3px solid #deb887;
    background: #000000;
}
.rObjectActive, .rObjectActive1
{
    display: block;
}
.rotationTitle1
{
    color: #deb887;
}
.rotationTitle, .rotationRadio, .rotationTitle1, .rotationRadio1
{
    width: 288px;
    height: 30px;
}
.publications, .addPublication
{
    width: 397px;
    padding: 10px;
    float: left;
}
.pubItem
{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    color: #deb887;
    font-family: Verdana;
}
#authorName, #publicationTitle
{
    height: 40px;
    font-size: 14px;
}
#publicationA
{
    height: 100px;
    font-size: 12px;
    font-family: Verdana;
}
#publicationText
{
    height: 200px;
    font-size: 12px;
    font-family: Verdana;
}
#authorName, #publicationTitle, #publicationText, #publicationA
{
    width: 350px;
    background: #deb887;
    color: #000000;
    margin-top: 5px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
    -webkit-box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.75);
}
#mpContainer
{
    width: 397px;
    background: #deb887;
    font-size: 12px;
    margin-bottom: 20px;
    -webkit-box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.75);
    padding: 10px;
    overflow: hidden;
}
#mpImg
{
    width: 150px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
#mpAuthor
{
    width: 160px;
    font-size: 9px;
}
#mpAuthor, #mpTitle
{
    float: left;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}
#mpDate
{
    width: 57px;
    float: left;
    font-size: 9px;
    font-style: italic;
    color: #000000;
}
#mpTitle
{
    width: 217px;
    font-size: 14px;
}
#mpImg, #mpAuthor, #mpDate, #mpTitle, #mpContainer
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Verdana;
}
#mpTitle, #mpAuthor, #mpDate
{
    text-align: center;
    margin-bottom: 5px;
}
#mpTitle, #mpAuthor, #mpContainer
{
    color: #000000;
}
#c_main_content
{
    width: 100%;
    overflow: hidden;
    padding: 1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#cContainer
{
    width: 200px;
    height: 300px;
    font-family: Verdana;
    float: left;
    margin: 4px;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
.cTitle
{
    width: 200px;
    height: 30px;
    color: #deb887;
    text-transform: uppercase;
    text-align: center;
}
.cMain
{
    width: 200px;
    height: 270px;

}
.cMain img
{
    position: absolute;
}
#slideContainer
{
    width: 200px;
    height: 270px;
    position: absolute;
    display: table;
}
.cMainUp
{
    width: 200px;
    height: 270px;
    background: rgba(0,0,0,0);
    color: rgba(222, 184, 135, 0);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: table-cell;
    border: 1px solid #deb887;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.cMainUp p
{
    margin-top: 0;
}
.cMainUp span
{
    font-weight: bold;
}
.cMain:hover .cMainUp
{
    background: rgba(0,0,0,0.9);
    color: rgba(222, 184, 135, 1);
}
.pagination
{
    width: 100%;
    text-align: center;
    font-family: Verdana;
}
.pagination ul
{
    left: 50%;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    text-align: left;
    font-size: 16px;
}
.pagination ul li
{
    list-style-type: none;
    display: inline;
    float: left;
    position: relative;
    left: -50%;
    padding-bottom: 1px;
}
.pagination a, .pagination a:visited
{
    padding: 0 10px;
    border: 1px solid #000000;
    text-decoration: none;
    color: #deb887;
}
.pagination a:hover, .pagination a:active
{
    border: 1px solid #000000;
    color: #000000;
    background-color: #deb887;
}
.pagination a.prevnext
{
    font-weight: bold;
}
.page_number
{
    border: 1px solid #000000;
    margin: 0 auto;
    color: #deb887;
    padding:5px;
    text-align: center;
    width: 20px;
}
.contactInfo
{
    width: 100%;
    font-family: Verdana;
    color: #deb887;
    padding: 10px;
    text-align: center;
}
.contactInfo a
{
    color: #dcdcdc;
    text-decoration: none;
}
.contactInfo a:hover
{
    color: #f5deb3;
    text-decoration: underline;
}
.contactImg
{
    width: 100%;
    text-align: center;
}
.aboutSiteInfo
{
    width: 100%;
    padding: 10px;
    font-family: Verdana;
    color: #deb887;
    text-align: justify;
}
.aboutSiteImg
{
    width: 100%;
    text-align: center;
    padding-top: 15px;
}